/* layer: theme */
:root, :host {
--font-sans: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--defaults-font-family: var(--font-sans);
--defaults-font-featureSettings: var(--font-sans--font-feature-settings);
--defaults-font-variationSettings: var(--font-sans--font-variation-settings);
--defaults-monoFont-family: var(--font-mono);
--defaults-monoFont-featureSettings: var(--font-mono--font-feature-settings);
--defaults-monoFont-variationSettings: var(--font-mono--font-variation-settings);
}
/* layer: preflights */
/*
  1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
  2. Remove default margins and padding
  3. Reset all borders.
*/

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 2 */
  border: 0 solid; /* 3 */
}

/*
  1. Use a consistent sensible line-height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  3. Use a more readable tab size.
  4. Use the user's configured `sans` font-family by default.
  5. Use the user's configured `sans` font-feature-settings by default.
  6. Use the user's configured `sans` font-variation-settings by default.
  7. Disable tap highlights on iOS.
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  tab-size: 4; /* 3 */
  font-family: var(
    --defaults-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'
  ); /* 4 */
  font-feature-settings: var(--defaults-font-featureSettings, normal); /* 5 */
  font-variation-settings: var(--defaults-font-variationSettings, normal); /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
  Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  line-height: inherit;
}

/*
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Reset the default border style to a 1px solid border.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
  Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
  Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
  Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

/*
  Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
  1. Use the user's configured `mono` font-family by default.
  2. Use the user's configured `mono` font-feature-settings by default.
  3. Use the user's configured `mono` font-variation-settings by default.
  4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: var(
    --defaults-monoFont-family,
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    'Liberation Mono',
    'Courier New',
    monospace
  ); /* 1 */
  font-feature-settings: var(--defaults-monoFont-featureSettings, normal); /* 2 */
  font-variation-settings: var(--defaults-monoFont-variationSettings, normal); /* 3 */
  font-size: 1em; /* 4 */
}

/*
  Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
  Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
  Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
  Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
  Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
  Make lists unstyled by default.
*/

ol,
ul,
menu {
  list-style: none;
}

/*
  1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
  2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
      This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
  Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
  1. Inherit font styles in all browsers.
  2. Remove border radius in all browsers.
  3. Remove background color in all browsers.
  4. Ensure consistent opacity for disabled states in all browsers.
*/

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  border-radius: 0; /* 2 */
  background-color: transparent; /* 3 */
  opacity: 1; /* 4 */
}

/*
  Restore default font weight.
*/

:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}

/*
  Restore indentation.
*/

:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}

/*
  Restore space after button.
*/

::file-selector-button {
  margin-inline-end: 4px;
}

/*
  1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
  2. Set the default placeholder color to a semi-transparent version of the current text color.
*/

::placeholder {
  opacity: 1; /* 1 */
  color: color-mix(in oklab, currentColor 50%, transparent); /* 2 */
}

/*
  Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
  Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
  1. Ensure date/time inputs have the same height when empty in iOS Safari.
  2. Ensure text alignment can be changed on date/time inputs in iOS Safari.
*/

::-webkit-date-and-time-value {
  min-height: 1lh; /* 1 */
  text-align: inherit; /* 2 */
}

/*
  Prevent height from changing on date/time inputs in macOS Safari when the input is set to `display: block`.
*/

::-webkit-datetime-edit {
  display: inline-flex;
}

/*
  Remove excess padding from pseudo-elements in date/time inputs to ensure consistent height across browsers.
*/

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
  padding-block: 0;
}

/*
  Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
  Correct the inability to style the border radius in iOS Safari.
*/

button,
input:where([type='button'], [type='reset'], [type='submit']),
::file-selector-button {
  appearance: button;
}

/*
  Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
  Make elements with the HTML hidden attribute stay hidden by default.
*/

[hidden]:where(:not([hidden='until-found'])) {
  display: none !important;
}
/* layer: default */
@keyframes uneBackInDown { 0% { transform: translateY(-1200px) scale(.7) } 0%,80% { opacity: 0.7 } 80% { transform: translateY(0) scale(.7) } to { opacity: 1; transform: scale(1) } }
@keyframes uneBackInLeft { 0% { transform: translateX(-2000px) scale(.7) } 0%,80% { opacity: 0.7 } 80% { transform: translateX(0) scale(.7) } to { opacity: 1; transform: scale(1) } }
@keyframes uneBackInRight { 0% { transform: translateX(2000px) scale(.7) } 0%,80% { opacity: 0.7 } 80% { transform: translateX(0) scale(.7) } to { opacity: 1; transform: scale(1) } }
@keyframes uneBackInUp { 0% { transform: translateY(1200px) scale(.7) } 0%,80% { opacity: 0.7 } 80% { transform: translateY(0) scale(.7) } to { opacity: 1; transform: scale(1) } }
@keyframes uneBackOutDown { 0% { opacity: 1; transform: scale(1) } 20% { transform: translateY(0) scale(.7) } 20%,to { opacity: 0.7 } to { transform: translateY(700px) scale(.7) } }
@keyframes uneBackOutLeft { 0% { opacity: 1; transform: scale(1) } 20% { transform: translateX(0) scale(.7) } 20%,to { opacity: 0.7 } to { transform: translateX(-2000px) scale(.7) } }
@keyframes uneBackOutRight { 0% { opacity: 1; transform: scale(1) } 20% { transform: translateX(0) scale(.7) } 20%,to { opacity: 0.7 } to { transform: translateX(2000px) scale(.7) } }
@keyframes uneBackOutUp { 0% { opacity: 1; transform: scale(1) } 20% { transform: translateY(0) scale(.7) } 20%,to { opacity: 0.7 } to { transform: translateY(-700px) scale(.7) } }
@keyframes uneBounce { 0%,20%,53%,to { animation-timing-function: cubic-bezier(.215,.61,.355,1); transform: translateZ(0) } 40%,43% { transform: translate3d(0,-30px,0) scaleY(1.1) } 40%,43%,70% { animation-timing-function: cubic-bezier(.755,.05,.855,.06) } 70% { transform: translate3d(0,-15px,0) scaleY(1.05) } 80% { transform: translateZ(0) scaleY(.95); transition-timing-function: cubic-bezier(.215,.61,.355,1) } 90% { transform: translate3d(0,-4px,0) scaleY(1.02) } }
@keyframes uneBounceIn { 0%,20%,40%,60%,80%,to { animation-timing-function: cubic-bezier(.215,.61,.355,1) } 0% { opacity: 0; transform: scale3d(.3,.3,.3) } 20% { transform: scale3d(1.1,1.1,1.1) } 40% { transform: scale3d(.9,.9,.9) } 60% { opacity: 1; transform: scale3d(1.03,1.03,1.03) } 80% { transform: scale3d(.97,.97,.97) } to { opacity: 1; transform: scaleX(1) } }
@keyframes uneBounceInDown { 0%,60%,75%,90%,to { animation-timing-function: cubic-bezier(.215,.61,.355,1) } 0% { opacity: 0; transform: translate3d(0,-3000px,0) scaleY(3) } 60% { opacity: 1; transform: translate3d(0,25px,0) scaleY(.9) } 75% { transform: translate3d(0,-10px,0) scaleY(.95) } 90% { transform: translate3d(0,5px,0) scaleY(.985) } to { transform: translateZ(0) } }
@keyframes uneBounceInLeft { 0%,60%,75%,90%,to { animation-timing-function: cubic-bezier(.215,.61,.355,1) } 0% { opacity: 0; transform: translate3d(-3000px,0,0) scaleX(3) } 60% { opacity: 1; transform: translate3d(25px,0,0) scaleX(1) } 75% { transform: translate3d(-10px,0,0) scaleX(.98) } 90% { transform: translate3d(5px,0,0) scaleX(.995) } to { transform: translateZ(0) } }
@keyframes uneBounceInRight { 0%,60%,75%,90%,to { animation-timing-function: cubic-bezier(.215,.61,.355,1) } 0% { opacity: 0; transform: translate3d(3000px,0,0) scaleX(3) } 60% { opacity: 1; transform: translate3d(-25px,0,0) scaleX(1) } 75% { transform: translate3d(10px,0,0) scaleX(.98) } 90% { transform: translate3d(-5px,0,0) scaleX(.995) } to { transform: translateZ(0) } }
@keyframes uneBounceInUp { 0%,60%,75%,90%,to { animation-timing-function: cubic-bezier(.215,.61,.355,1) } 0% { opacity: 0; transform: translate3d(0,3000px,0) scaleY(5) } 60% { opacity: 1; transform: translate3d(0,-20px,0) scaleY(.9) } 75% { transform: translate3d(0,10px,0) scaleY(.95) } 90% { transform: translate3d(0,-5px,0) scaleY(.985) } to { transform: translateZ(0) } }
@keyframes uneBounceOut { 20% { transform: scale3d(.9,.9,.9) } 50%,55% { opacity: 1; transform: scale3d(1.1,1.1,1.1) } to { opacity: 0; transform: scale3d(.3,.3,.3) } }
@keyframes uneBounceOutDown { 20% { transform: translate3d(0,10px,0) scaleY(.985) } 40%,45% { opacity: 1; transform: translate3d(0,-20px,0) scaleY(.9) } to { opacity: 0; transform: translate3d(0,2000px,0) scaleY(3) } }
@keyframes uneBounceOutLeft { 20% { opacity: 1; transform: translate3d(20px,0,0) scaleX(.9) } to { opacity: 0; transform: translate3d(-2000px,0,0) scaleX(2) } }
@keyframes uneBounceOutRight { 20% { opacity: 1; transform: translate3d(-20px,0,0) scaleX(.9) } to { opacity: 0; transform: translate3d(2000px,0,0) scaleX(2) } }
@keyframes uneBounceOutUp { 20% { transform: translate3d(0,-10px,0) scaleY(.985) } 40%,45% { opacity: 1; transform: translate3d(0,20px,0) scaleY(.9) } to { opacity: 0; transform: translate3d(0,-2000px,0) scaleY(3) } }
@keyframes uneFadeIn { 0% { opacity: 0 } to { opacity: 1 } }
@keyframes uneFadeInBottomLeft { 0% { opacity: 0; transform: translate3d(-100%,100%,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInBottomRight { 0% { opacity: 0; transform: translate3d(100%,100%,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInDown { 0% { opacity: 0; transform: translate3d(0,-100%,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInDownBig { 0% { opacity: 0; transform: translate3d(0,-2000px,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInLeft { 0% { opacity: 0; transform: translate3d(-100%,0,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInLeftBig { 0% { opacity: 0; transform: translate3d(-2000px,0,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInRight { 0% { opacity: 0; transform: translate3d(100%,0,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInRightBig { 0% { opacity: 0; transform: translate3d(2000px,0,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInTopLeft { 0% { opacity: 0; transform: translate3d(-100%,-100%,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInTopRight { 0% { opacity: 0; transform: translate3d(100%,-100%,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInUp { 0% { opacity: 0; transform: translate3d(0,100%,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeInUpBig { 0% { opacity: 0; transform: translate3d(0,2000px,0) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneFadeOut { 0% { opacity: 1 } to { opacity: 0 } }
@keyframes uneFadeOutBottomLeft { 0% { opacity: 1; transform: translateZ(0) } to { opacity: 0; transform: translate3d(-100%,100%,0) } }
@keyframes uneFadeOutBottomRight { 0% { opacity: 1; transform: translateZ(0) } to { opacity: 0; transform: translate3d(100%,100%,0) } }
@keyframes uneFadeOutDown { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(0,100%,0) } }
@keyframes uneFadeOutDownBig { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(0,2000px,0) } }
@keyframes uneFadeOutLeft { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(-100%,0,0) } }
@keyframes uneFadeOutLeftBig { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(-2000px,0,0) } }
@keyframes uneFadeOutRight { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(100%,0,0) } }
@keyframes uneFadeOutRightBig { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(2000px,0,0) } }
@keyframes uneFadeOutTopLeft { 0% { opacity: 1; transform: translateZ(0) } to { opacity: 0; transform: translate3d(-100%,-100%,0) } }
@keyframes uneFadeOutTopRight { 0% { opacity: 1; transform: translateZ(0) } to { opacity: 0; transform: translate3d(100%,-100%,0) } }
@keyframes uneFadeOutUp { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(0,-100%,0) } }
@keyframes uneFadeOutUpBig { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(0,-2000px,0) } }
@keyframes uneFlash { 0%,50%,to { opacity: 1 } 25%,75% { opacity: 0 } }
@keyframes uneFlip { 0% { transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn) } 0%,40% { animation-timing-function: ease-out } 40% { transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg) } 50% { transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg) } 50%,80% { animation-timing-function: ease-in } 80% { transform: perspective(400px) scale3d(.95,.95,.95) translateZ(0) rotateY(0deg) } to { animation-timing-function: ease-in; transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg) } }
@keyframes uneFlipInX { 0% { opacity: 0; transform: perspective(400px) rotateX(90deg) } 0%,40% { animation-timing-function: ease-in } 40% { transform: perspective(400px) rotateX(-20deg) } 60% { opacity: 1; transform: perspective(400px) rotateX(10deg) } 80% { transform: perspective(400px) rotateX(-5deg) } to { transform: perspective(400px) } }
@keyframes uneFlipInY { 0% { opacity: 0; transform: perspective(400px) rotateY(90deg) } 0%,40% { animation-timing-function: ease-in } 40% { transform: perspective(400px) rotateY(-20deg) } 60% { opacity: 1; transform: perspective(400px) rotateY(10deg) } 80% { transform: perspective(400px) rotateY(-5deg) } to { transform: perspective(400px) } }
@keyframes uneFlipOutX { 0% { transform: perspective(400px) } 30% { opacity: 1; transform: perspective(400px) rotateX(-20deg) } to { opacity: 0; transform: perspective(400px) rotateX(90deg) } }
@keyframes uneFlipOutY { 0% { transform: perspective(400px) } 30% { opacity: 1; transform: perspective(400px) rotateY(-15deg) } to { opacity: 0; transform: perspective(400px) rotateY(90deg) } }
@keyframes uneHeadShake { 0% { transform: translateX(0) } 6.5% { transform: translateX(-6px) rotateY(-9deg) } 18.5% { transform: translateX(5px) rotateY(7deg) } 31.5% { transform: translateX(-3px) rotateY(-5deg) } 43.5% { transform: translateX(2px) rotateY(3deg) } 50% { transform: translateX(0) } }
@keyframes uneHeartBeat { 0% { transform: scale(1) } 14% { transform: scale(1.3) } 28% { transform: scale(1) } 42% { transform: scale(1.3) } 70% { transform: scale(1) } }
@keyframes uneHinge { 0%,20%,60% { animation-timing-function: ease-in-out } 20%,60% { transform: rotate(80deg) } 40%,80% { animation-timing-function: ease-in-out; opacity: 1; transform: rotate(60deg) } to { opacity: 0; transform: translate3d(0,700px,0) } }
@keyframes uneJackInTheBox { 0% { opacity: 0; transform: scale(.1) rotate(30deg); transform-origin: center bottom } 50% { transform: rotate(-10deg) } 70% { transform: rotate(3deg) } to { opacity: 1; transform: scale(1) } }
@keyframes uneJello { 0%,11.1%,to { transform: translateZ(0) } 22.2% { transform: skewX(-12.5deg) skewY(-12.5deg) } 33.3% { transform: skewX(6.25deg) skewY(6.25deg) } 44.4% { transform: skewX(-3.125deg) skewY(-3.125deg) } 55.5% { transform: skewX(1.5625deg) skewY(1.5625deg) } 66.6% { transform: skewX(-.78125deg) skewY(-.78125deg) } 77.7% { transform: skewX(.390625deg) skewY(.390625deg) } 88.8% { transform: skewX(-.1953125deg) skewY(-.1953125deg) } }
@keyframes uneLightSpeedInLeft { 0% { opacity: 0; transform: translate3d(-100%,0,0) skewX(30deg) } 60% { opacity: 1; transform: skewX(-20deg) } 80% { transform: skewX(5deg) } to { transform: translateZ(0) } }
@keyframes uneLightSpeedInRight { 0% { opacity: 0; transform: translate3d(100%,0,0) skewX(-30deg) } 60% { opacity: 1; transform: skewX(20deg) } 80% { transform: skewX(-5deg) } to { transform: translateZ(0) } }
@keyframes uneLightSpeedOutLeft { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(-100%,0,0) skewX(-30deg) } }
@keyframes uneLightSpeedOutRight { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(100%,0,0) skewX(30deg) } }
@keyframes unePulse { 0% { transform: scaleX(1) } 50% { transform: scale3d(1.05,1.05,1.05) } to { transform: scaleX(1) } }
@keyframes uneRollIn { 0% { opacity: 0; transform: translate3d(-100%,0,0) rotate(-120deg) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneRollOut { 0% { opacity: 1 } to { opacity: 0; transform: translate3d(100%,0,0) rotate(120deg) } }
@keyframes uneRotateIn { 0% { opacity: 0; transform: rotate(-200deg) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneRotateInDownLeft { 0% { opacity: 0; transform: rotate(-45deg) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneRotateInDownRight { 0% { opacity: 0; transform: rotate(45deg) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneRotateInUpLeft { 0% { opacity: 0; transform: rotate(45deg) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneRotateInUpRight { 0% { opacity: 0; transform: rotate(-90deg) } to { opacity: 1; transform: translateZ(0) } }
@keyframes uneRotateOut { 0% { opacity: 1 } to { opacity: 0; transform: rotate(200deg) } }
@keyframes uneRotateOutDownLeft { 0% { opacity: 1 } to { opacity: 0; transform: rotate(45deg) } }
@keyframes uneRotateOutDownRight { 0% { opacity: 1 } to { opacity: 0; transform: rotate(-45deg) } }
@keyframes uneRotateOutUpLeft { 0% { opacity: 1 } to { opacity: 0; transform: rotate(-45deg) } }
@keyframes uneRotateOutUpRight { 0% { opacity: 1 } to { opacity: 0; transform: rotate(90deg) } }
@keyframes uneRubberBand { 0% { transform: scaleX(1) } 30% { transform: scale3d(1.25,.75,1) } 40% { transform: scale3d(.75,1.25,1) } 50% { transform: scale3d(1.15,.85,1) } 65% { transform: scale3d(.95,1.05,1) } 75% { transform: scale3d(1.05,.95,1) } to { transform: scaleX(1) } }
@keyframes uneShake { 0%,to { transform: translateZ(0) } 10%,30%,50%,70%,90% { transform: translate3d(-10px,0,0) } 20%,40%,60%,80% { transform: translate3d(10px,0,0) } }
@keyframes uneShakeX { 0%,to { transform: translateZ(0) } 10%,30%,50%,70%,90% { transform: translate3d(-10px,0,0) } 20%,40%,60%,80% { transform: translate3d(10px,0,0) } }
@keyframes uneShakeY { 0%,to { transform: translateZ(0) } 10%,30%,50%,70%,90% { transform: translate3d(0,-10px,0) } 20%,40%,60%,80% { transform: translate3d(0,10px,0) } }
@keyframes uneSlideInDown { 0% { transform: translate3d(0,-100%,0); visibility: visible } to { transform: translateZ(0) } }
@keyframes uneSlideInLeft { 0% { transform: translate3d(-100%,0,0); visibility: visible } to { transform: translateZ(0) } }
@keyframes uneSlideInRight { 0% { transform: translate3d(100%,0,0); visibility: visible } to { transform: translateZ(0) } }
@keyframes uneSlideInUp { 0% { transform: translate3d(0,100%,0); visibility: visible } to { transform: translateZ(0) } }
@keyframes uneSlideOutDown { 0% { transform: translateZ(0) } to { transform: translate3d(0,100%,0); visibility: hidden } }
@keyframes uneSlideOutLeft { 0% { transform: translateZ(0) } to { transform: translate3d(-100%,0,0); visibility: hidden } }
@keyframes uneSlideOutRight { 0% { transform: translateZ(0) } to { transform: translate3d(100%,0,0); visibility: hidden } }
@keyframes uneSlideOutUp { 0% { transform: translateZ(0) } to { transform: translate3d(0,-100%,0); visibility: hidden } }
@keyframes uneSwing { 20% { transform: rotate(15deg) } 40% { transform: rotate(-10deg) } 60% { transform: rotate(5deg) } 80% { transform: rotate(-5deg) } to { transform: rotate(0deg) } }
@keyframes uneTada { 0% { transform: scaleX(1) } 10%,20% { transform: scale3d(.9,.9,.9) rotate(-3deg) } 30%,50%,70%,90% { transform: scale3d(1.1,1.1,1.1) rotate(3deg) } 40%,60%,80% { transform: scale3d(1.1,1.1,1.1) rotate(-3deg) } to { transform: scaleX(1) } }
@keyframes uneWobble { 0% { transform: translateZ(0) } 15% { transform: translate3d(-25%,0,0) rotate(-5deg) } 30% { transform: translate3d(20%,0,0) rotate(3deg) } 45% { transform: translate3d(-15%,0,0) rotate(-3deg) } 60% { transform: translate3d(10%,0,0) rotate(2deg) } 75% { transform: translate3d(-5%,0,0) rotate(-1deg) } to { transform: translateZ(0) } }
@keyframes uneZoomIn { 0% { opacity: 0; transform: scale3d(.3,.3,.3) } 50% { opacity: 1 } }
@keyframes uneZoomInDown { 0% { animation-timing-function: cubic-bezier(.55,.055,.675,.19); opacity: 0; transform: scale3d(.1,.1,.1) translate3d(0,-1000px,0) } 60% { animation-timing-function: cubic-bezier(.175,.885,.32,1); opacity: 1; transform: scale3d(.475,.475,.475) translate3d(0,60px,0) } }
@keyframes uneZoomInLeft { 0% { animation-timing-function: cubic-bezier(.55,.055,.675,.19); opacity: 0; transform: scale3d(.1,.1,.1) translate3d(-1000px,0,0) } 60% { animation-timing-function: cubic-bezier(.175,.885,.32,1); opacity: 1; transform: scale3d(.475,.475,.475) translate3d(10px,0,0) } }
@keyframes uneZoomInRight { 0% { animation-timing-function: cubic-bezier(.55,.055,.675,.19); opacity: 0; transform: scale3d(.1,.1,.1) translate3d(1000px,0,0) } 60% { animation-timing-function: cubic-bezier(.175,.885,.32,1); opacity: 1; transform: scale3d(.475,.475,.475) translate3d(-10px,0,0) } }
@keyframes uneZoomInUp { 0% { animation-timing-function: cubic-bezier(.55,.055,.675,.19); opacity: 0; transform: scale3d(.1,.1,.1) translate3d(0,1000px,0) } 60% { animation-timing-function: cubic-bezier(.175,.885,.32,1); opacity: 1; transform: scale3d(.475,.475,.475) translate3d(0,-60px,0) } }
@keyframes uneZoomOut { 0% { opacity: 1 } 50% { transform: scale3d(.3,.3,.3) } 50%,to { opacity: 0 } }
@keyframes uneZoomOutDown { 40% { animation-timing-function: cubic-bezier(.55,.055,.675,.19); opacity: 1; transform: scale3d(.475,.475,.475) translate3d(0,-60px,0) } to { animation-timing-function: cubic-bezier(.175,.885,.32,1); opacity: 0; transform: scale3d(.1,.1,.1) translate3d(0,2000px,0) } }
@keyframes uneZoomOutLeft { 40% { opacity: 1; transform: scale3d(.475,.475,.475) translate3d(42px,0,0) } to { opacity: 0; transform: scale(.1) translate3d(-2000px,0,0) } }
@keyframes uneZoomOutRight { 40% { opacity: 1; transform: scale3d(.475,.475,.475) translate3d(-42px,0,0) } to { opacity: 0; transform: scale(.1) translate3d(2000px,0,0) } }
@keyframes uneZoomOutUp { 40% { animation-timing-function: cubic-bezier(.55,.055,.675,.19); opacity: 1; transform: scale3d(.475,.475,.475) translate3d(0,60px,0) } to { animation-timing-function: cubic-bezier(.175,.885,.32,1); opacity: 0; transform: scale3d(.1,.1,.1) translate3d(0,-2000px,0) } }
.animated-back-in-down{animation-name:uneBackInDown;}
.animated-back-in-left{animation-name:uneBackInLeft;}
.animated-back-in-right{animation-name:uneBackInRight;}
.animated-back-in-up{animation-name:uneBackInUp;}
.animated-back-out-down{animation-name:uneBackOutDown;}
.animated-back-out-left{animation-name:uneBackOutLeft;}
.animated-back-out-right{animation-name:uneBackOutRight;}
.animated-back-out-up{animation-name:uneBackOutUp;}
.animated-bounce{animation-name:uneBounce;transform-origin:center bottom;}
.animated-bounce-in{animation-duration:calc(var(--une-animated-duration) * 0.75);animation-name:uneBounceIn;}
.animated-bounce-in-down{animation-name:uneBounceInDown;}
.animated-bounce-in-left{animation-name:uneBounceInLeft;}
.animated-bounce-in-right{animation-name:uneBounceInRight;}
.animated-bounce-in-up{animation-name:uneBounceInUp;}
.animated-bounce-out{animation-duration:calc(var(--une-animated-duration) * 0.75);animation-name:uneBounceOut;}
.animated-bounce-out-down{animation-name:uneBounceOutDown;}
.animated-bounce-out-left{animation-name:uneBounceOutLeft;}
.animated-bounce-out-right{animation-name:uneBounceOutRight;}
.animated-bounce-out-up{animation-name:uneBounceOutUp;}
.animated-fade-in{animation-name:uneFadeIn;}
.animated-fade-in-bottom-left{animation-name:uneFadeInBottomLeft;}
.animated-fade-in-bottom-right{animation-name:uneFadeInBottomRight;}
.animated-fade-in-down{animation-name:uneFadeInDown;}
.animated-fade-in-down-big{animation-name:uneFadeInDownBig;}
.animated-fade-in-left{animation-name:uneFadeInLeft;}
.animated-fade-in-left-big{animation-name:uneFadeInLeftBig;}
.animated-fade-in-right{animation-name:uneFadeInRight;}
.animated-fade-in-right-big{animation-name:uneFadeInRightBig;}
.animated-fade-in-top-left{animation-name:uneFadeInTopLeft;}
.animated-fade-in-top-right{animation-name:uneFadeInTopRight;}
.animated-fade-in-up{animation-name:uneFadeInUp;}
.animated-fade-in-up-big{animation-name:uneFadeInUpBig;}
.animated-fade-out{animation-name:uneFadeOut;}
.animated-fade-out-bottom-left{animation-name:uneFadeOutBottomLeft;}
.animated-fade-out-bottom-right{animation-name:uneFadeOutBottomRight;}
.animated-fade-out-down{animation-name:uneFadeOutDown;}
.animated-fade-out-down-big{animation-name:uneFadeOutDownBig;}
.animated-fade-out-left{animation-name:uneFadeOutLeft;}
.animated-fade-out-left-big{animation-name:uneFadeOutLeftBig;}
.animated-fade-out-right{animation-name:uneFadeOutRight;}
.animated-fade-out-right-big{animation-name:uneFadeOutRightBig;}
.animated-fade-out-top-left{animation-name:uneFadeOutTopLeft;}
.animated-fade-out-top-right{animation-name:uneFadeOutTopRight;}
.animated-fade-out-up{animation-name:uneFadeOutUp;}
.animated-fade-out-up-big{animation-name:uneFadeOutUpBig;}
.animated-flash{animation-name:uneFlash;}
.animated-flip{backface-visibility:visible;animation-name:uneFlip;}
.animated-flip-in-x{backface-visibility:visible !important;animation-name:uneFlipInX;}
.animated-flip-in-y{backface-visibility:visible !important;animation-name:uneFlipInY;}
.animated-flip-out-x{animation-duration:calc(var(--une-animated-duration) * 0.75);animation-name:uneFlipOutX;backface-visibility:visible !important;}
.animated-flip-out-y{animation-duration:calc(var(--une-animated-duration) * 0.75);backface-visibility:visible !important;animation-name:uneFlipOutY;}
.animated-head-shake{animation-timing-function:ease-in-out;animation-name:uneHeadShake;}
.animated-heart-beat{animation-name:uneHeartBeat;animation-duration:calc(var(--une-animated-duration) * 1.3);animation-timing-function:ease-in-out;}
.animated-hinge{animation-duration:calc(var(--une-animated-duration) * 2);animation-name:uneHinge;transform-origin:top left;}
.animated-jack-in-the-box{animation-name:uneJackInTheBox;}
.animated-jello{animation-name:uneJello;transform-origin:center;}
.animated-light-speed-in-left{animation-name:uneLightSpeedInLeft;animation-timing-function:ease-out;}
.animated-light-speed-in-right{animation-name:uneLightSpeedInRight;animation-timing-function:ease-out;}
.animated-light-speed-out-left{animation-name:uneLightSpeedOutLeft;animation-timing-function:ease-in;}
.animated-light-speed-out-right{animation-name:uneLightSpeedOutRight;animation-timing-function:ease-in;}
.animated-pulse{animation-name:unePulse;animation-timing-function:ease-in-out;}
.animated-roll-in{animation-name:uneRollIn;}
.animated-roll-out{animation-name:uneRollOut;}
.animated-rotate-in{animation-name:uneRotateIn;transform-origin:center;}
.animated-rotate-in-down-left{animation-name:uneRotateInDownLeft;transform-origin:left bottom;}
.animated-rotate-in-down-right{animation-name:uneRotateInDownRight;transform-origin:right bottom;}
.animated-rotate-in-up-left{animation-name:uneRotateInUpLeft;transform-origin:left bottom;}
.animated-rotate-in-up-right{animation-name:uneRotateInUpRight;transform-origin:right bottom;}
.animated-rotate-out{animation-name:uneRotateOut;transform-origin:center;}
.animated-rotate-out-down-left{animation-name:uneRotateOutDownLeft;transform-origin:left bottom;}
.animated-rotate-out-down-right{animation-name:uneRotateOutDownRight;transform-origin:right bottom;}
.animated-rotate-out-up-left{animation-name:uneRotateOutUpLeft;transform-origin:left bottom;}
.animated-rotate-out-up-right{animation-name:uneRotateOutUpRight;transform-origin:right bottom;}
.animated-rubber-band{animation-name:uneRubberBand;}
.animated-shake{animation-name:uneShake;}
.animated-shake-x{animation-name:uneShakeX;}
.animated-shake-y{animation-name:uneShakeY;}
.animated-slide-in-down{animation-name:uneSlideInDown;}
.animated-slide-in-left{animation-name:uneSlideInLeft;}
.animated-slide-in-right{animation-name:uneSlideInRight;}
.animated-slide-in-up{animation-name:uneSlideInUp;}
.animated-slide-out-down{animation-name:uneSlideOutDown;}
.animated-slide-out-left{animation-name:uneSlideOutLeft;}
.animated-slide-out-right{animation-name:uneSlideOutRight;}
.animated-slide-out-up{animation-name:uneSlideOutUp;}
.animated-swing{transform-origin:top center;animation-name:uneSwing;}
.animated-tada{animation-name:uneTada;}
.animated-wobble{animation-name:uneWobble;}
.animated-zoom-in{animation-name:uneZoomIn;}
.animated-zoom-in-down{animation-name:uneZoomInDown;}
.animated-zoom-in-left{animation-name:uneZoomInLeft;}
.animated-zoom-in-right{animation-name:uneZoomInRight;}
.animated-zoom-in-up{animation-name:uneZoomInUp;}
.animated-zoom-out{animation-name:uneZoomOut;}
.animated-zoom-out-down{animation-name:uneZoomOutDown;transform-origin:center bottom;}
.animated-zoom-out-left{animation-name:uneZoomOutLeft;transform-origin:left center;}
.animated-zoom-out-right{animation-name:uneZoomOutRight;transform-origin:right center;}
.animated-zoom-out-up{animation-name:uneZoomOutUp;transform-origin:center bottom;}