.Snippet .shiki {
	border-radius: 8px;
	border: 1px solid rgba(255,255,255,0.1) !important;
	background-color: rgba(255,255,255,0.05) !important;
}

.light .Snippet  .shiki {
	border: 1px solid rgba(255,255,255,0.1) !important;
	background-color: rgba(255,255,255,0.05) !important;
	filter:invert(1) saturate(2);
}

.Snippet .shiki code {
	display: flex;
	flex-direction: column;

	padding: 20px 32px;
	overflow:auto;
}

.Snippet .shiki code * {
	font-size: 12px;
}

/* ########################################################### */

.highlight-vue {
	max-width: calc(100vw - (3 * var(--elements-container-padding-mobile)));
	overflow: auto;
}


/* ########################################################### */
.terminal {
	max-height: 100px;
}

.terminal .header {
	min-height: 36px;
}

.terminal .line {
	margin-top: 4px;
}



