
.swiper-pagination {
    position: absolute;
    top: 36px !important;
    left: 48px !important;
    margin: 0px;
    align-self: baseline;
    width: max-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}


.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-pagination-bullet {
    margin: 2px !important;
  width: 7px !important;
  height: 7px !important;
  background: rgba(255, 255, 255, 0.7) !important;
  opacity: 100%;
  border-radius: 50%;

  /* Use flexbox and inline-block to avoid shifting */
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: 
    transform 0.3s ease,
    background-color 0.3s ease,
    opacity 0.3s ease;
}

.swiper-pagination-bullet:hover {
  transform: scale(1.3);
}

.swiper-pagination-bullet-active {
  width: 23px !important;
  /* background: rgb(102, 186, 88); */
  background: white !important;

  border-radius: 10px !important;
  margin: 0 1px !important;

  /* Ensures the expansion is center-based */
  flex-grow: 0;
}
